In [2]:
import pandas as pd
from IPython.display import display
from datetime import datetime as dt

today = str(dt.now())[:10]
print(f"今天日期:  {str(dt.now())[:10]}")
print(f"現在時間: {str(dt.now())[10:16]}")

今天日期:  2023-04-22
現在時間:  10:01

# Description

- This code is created for preprocessing data
---
    Use superstore's sales data as example,
    if each row of the data means one sales' record, and now we want to know how many sales in specific category(EX: Column "Catefory" in this data) each month,
    we can use this code to get it.

In [3]:
df = pd.read_excel("./super_store_excel.xlsx")
display(df.head())
print(len(df))

,Customer ID,Row ID,Order ID,order_date,ship_date,Ship Mode,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CG-12520,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CG-12520,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,DV-13045,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,SO-20335,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,SO-20335,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

9994

In [4]:
def countDateMonthly(df, col1, rename_col):
    """計算每月交易次數
    col1=           時間欄位                EX: order date
    reanme_col=     計算後的欄位名稱         EX: 訂單次數
    """
    df[col1] = pd.to_datetime(df[col1])
    df['月份'] = df[col1].dt.to_period('M') # 新增一個月份欄位
    orders_count = df.groupby('月份').agg({col1: 'count',}) # 按月份分組，計算訂單和出貨次數
    orders_count = orders_count.reset_index()
    orders_count['月份'] = orders_count['月份'].astype(str).str.slice(stop=7)
    # rename count column
    orders_monthly_count = orders_count.rename(columns={col1:rename_col})
    return orders_monthly_count

def countCategoryDateMonthly(df, col1, col2):
    """計算每月交易次數
    col1=           時間欄位                EX: order date
    col2=           類別欄位                EX: category
    """
    df[col1] = pd.to_datetime(df[col1])
    df['月份'] = df[col1].dt.to_period('M') # 新增一個月份欄位
    orders_count = df.pivot_table(index='月份', columns=col2, aggfunc='size', fill_value=0)
    orders_count.reset_index(inplace=True)
    return orders_count

In [5]:
categortMonthly = countCategoryDateMonthly(df, "order_date", "Category")
categortMonthly

Category       月份  Furniture  Office Supplies  Technology
0         2014-01         20               50           9
1         2014-02          7               31           8
2         2014-03         33              102          22
3         2014-04         26               83          26
4         2014-05         24               71          27
5         2014-06         30               84          21
6         2014-07         33               82          28
7         2014-08         24              102          27
8         2014-09         56              166          46
9         2014-10         32               97          30
10        2014-11         62              195          61
11        2014-12         74              154          50
12        2015-01         15               32          11
13        2015-02         11               39          14
14        2015-03         28               82          28
15        2015-04         33               90          37
16        2015-05         30               94          22
17        2015-06         26               85          27
18        2015-07         40               78          22
19        2015-08         32               96          31
20        2015-09         60              185          48
21        2015-10         36               89          41
22        2015-11         77              186          61
23        2015-12         64              185          67
24        2016-01         22               45          22
25        2016-02         19               48          16
26        2016-03         41               85          37
27        2016-04         35              113          22
28        2016-05         43              140          42
29        2016-06         38              125          36
30        2016-07         39              128          34
31        2016-08         29              110          37
32        2016-09         83              230          50
33        2016-10         48              119          29
34        2016-11         81              216          73
35        2016-12         84              207          61
36        2017-01         24              100          31
37        2017-02         26               59          22
38        2017-03         38              145          55
39        2017-04         44              133          26
40        2017-05         53              146          43
41        2017-06         51              149          45
42        2017-07         52              125          49
43        2017-08         39              143          36
44        2017-09         83              284          92
45        2017-10         71              170          57
46        2017-11         99              267          93
47        2017-12        106              281          75